- hosts: 2016-TEST.affordablecare.com
  vars:
    dest_version: Windows Server 2022

  tasks:
    - name: Install all Windows updates
      win_updates:
        category_names:
          - CriticalUpdates
          - SecurityUpdates
          - UpdateRollups

    - name: Upgrade to Windows Server 2022
      win_feature:
        name: Server-InPlace-Upgrade
        state: present
        include_sub_features: true
        source: C:\TEMP\sources\install.wim

    - name: Reboot server after upgrade
      win_reboot:
        post_reboot_delay: 60
