---
- hosts: all

  tasks:
    - name: List Updates  
      ansible.windows.win_updates:
        state: searched 
      register: update_list

    - name: Show Updates
      debug:
        var: update_list.updates

    - name: Install Updates
      ansible.windows.win_updates:
        state: installed
        reboot: no
        work_directory: C:\Windows\Temp

    - name: Install Additional Updates
      win_updates:
        category_names:
          - CriticalUpdates
          - SecurityUpdates  
          - UpdateRollups  
        state: installed
        reboot: no
        tmp_directory: C:\Windows\Temp
