--- 
- hosts: all
  gather_facts: no

  tasks:

    - name: Get last reboot time
      setup: 
        gather_facts: yes
      register: output

    - set_fact:  
        last_rebooted: "{{ output.ansible_facts.ansible_boot_time }}"

    - name: Check PendingFileRenameOperations registry key  
      win_reg_stat: 
        path: HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager\PendingFileRenameOperations
        gather_facts: no
      register: pending_file_rename

    - name: Check WindowsUpdate registry key
      win_reg_stat: 
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\WindowsUpdate\Auto Update\RebootRequired
        gather_facts: no  
      register: windows_update_reboot_required

    - name: Check Component Based Servicing registry key
      win_reg_stat:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Component Based Servicing\RebootPending  
        gather_facts: no
      register: cbs_reboot_pending

    - name: Print reboot status
      debug:
        msg: "System requires reboot"
      when:
        - pending_file_rename.exists 
        - windows_update_reboot_required.exists 
        - cbs_reboot_pending.exists

    - name: Print last reboot time
      debug:  
        var: last_rebooted
