- hosts: all

  tasks:
    - name: Check pending reboot
      win_shell: |
        $pendingReboot = Invoke-Command -Session $session -ScriptBlock {
          $pendingRegistryKeys = @(
            "HKLM:\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Component Based Servicing\\RebootPending",
            "HKLM:\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\WindowsUpdate\\Auto Update\\RebootRequired", 
            "HKLM:\\SYSTEM\\CurrentControlSet\\Control\\Session Manager\\PendingFileRenameOperations"
          )
        
          foreach ($registryKey in $pendingRegistryKeys) {
            if (Test-Path $registryKey) {
                return $true
            }
          }
        
          return $false
        }
        
        Write-Output $pendingReboot
      register: reboot_pending_result

    - name: Output reboot status  
      debug:
        msg: "Reboot status result: {{ reboot_pending_result.stdout }}"
