---
- name: Windows Reboot if needed
  hosts: all
  tasks:
    - name: Check if reboot is required
      ansible.windows.win_reg_stat:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\WindowsUpdate\Auto Update\RebootRequired
        name: RebootRequiredSince
      register: reboot_required

    - name: Debug Message
      ansible.builtin.debug:
        msg: Reboot is required for host
      when: reboot_required.exists == true